if [ -f ".python-version" ] ; then
    if [ ! -d "env" ] ; then
        echo "Installing virtualenv for $(python -V)"
        python -m venv env
    fi
    echo "Activating $(python -V)"
    source env/bin/activate
fi


echo "Virtualenv has been activated for $(python -V)"
echo "$(which python)"


unset PS1